
/*div {
    border-style : solid;
    border-color : red;
}*/

div {
    font-family: 'Lato', sans-serif;
}

.summary-text {
    font-weight: 100;
}

.name-text {
    font-weight: 900;
}

.profile-image{
    border-radius: 200px;
    margin : 5%;
    width : 50%;
    height : auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.job-company {
    color : #5a5a5a;
    font-weight : bold;
    font-size : 150%;
    padding-bottom : -5px;
}
.job-title {
    color : #5a5a5a;
    font-weight : bold;
    padding-bottom : -5px;
}
.job-dates {
    color : #5a5a5a;
    font-weight : light;
    padding-bottom : -5px;
}
.job-description {
    color : #5a5a5a;
    font-weight : normal;
}


.right-column {
    margin-left : 5px;
}

.category-header {
  padding-bottom: 9px;
  margin: 20px 0 10px;
  border-bottom: 1px solid #eeeeee;
}
