html {
  background-color: #000000;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

div {
  width: 400px;
  margin: 0 auto;
}

td {
  width: 50%;
}

table {
  width: 100%;
  text-align: center;
}

tr {
  height: 40px;
}

#tr_head {
  color: #f8f8f8;
}

#tr_90 {
  background-color: #ff2205;
}

#tr_80 {
  background-color: #fe7330;
}
#tr_70 {
  background-color: #e0841d;
}

#tr_60 {
  background-color: #febc41;
}

#tr_50 {
  background-color: #fcdc2f;
}

#tr_40 {
  background-color: #f1f92a;
}

#tr_30 {
  background-color: #cdf940;
}

#tr_20 {
  background-color: #a2d33c;
}

#tr_10 {
  background-color: #39ff33;
}
