/* --------------------	*/
/* 		General			*/
/* --------------------	*/


html {
	font-family: 'Roboto', sans-serif;
	width: 85%;
	padding-left: 4em;
}

.nameBanner {
	font-weight:100;
	background: -webkit-linear-gradient(left, #003366, #993333);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
    text-justify: inter-word;
}

#heading {
	font-size: 2em;
	font-weight: 200;
	color: #993333;

}

#body {
	text-align: justify;
    text-justify: inter-word;
	font-size: 1.1em;
	font-weight: 100;
	color: #000000;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

#body #body {
	padding-left: 1em;
}

table {
	width: 100%;
}

.secHead {
	font-weight: 400;
}

.jobTitle, .jobCompany, .jobDates {
	text-align: justify;
    text-justify: inter-word;
	font-size: 0.9em;
	font-weight: 200;
	color: #000000;

}

.projectEntry, .skillList, .projectList {
	text-align: justify;
    text-justify: inter-word;
	font-size: 0.8em;
	font-weight: 100;
	color: #000000;
}