/* --------------------	*/
/* 		General			*/
/* --------------------	*/


html {
	font-family: 'Roboto', sans-serif;
}

#banner-background {
	background-color: #000000;
	width: 95%;
	height: 10em;
	margin: 0 auto;
	min-width:500px;
}

#banner-text {
	font-weight:400;
	font-size: 4em;
	/* Original yellow color, matches business cards #F49D00 */
	background: -webkit-linear-gradient(top, #F49D00, #FFAD19);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
	font-family:'Lusitana', serif;
}

#disclaimer {
	width:25%;
	min-width: 100px;
	margin: 0 auto;
	font-weight: 400;
	font-size: 0.5em;
	font-family: 'Roboto', serif;
	background-color: #CCCCCC;
}

#about-me {
	font-size: 1em;
	width:90%;
	min-width: 400px;
	margin: 0 auto;
	font-weight: 400;
	font-family: 'Roboto', serif;
	
}





/* --------------------------------	*/
/* 		For Mobile Devices			*/
/* --------------------------------	*/


@media only screen and (max-device-width: 480px) {

	#banner-background {
		background-color: #000099;
		width: 95%;
		height: 22em;
		margin: 0 auto;
	}

	#banner-text {
		font-weight:400;
		font-size: 8em;
		/* Original yellow color, matches business cards #F49D00 */
		background: -webkit-linear-gradient(top, #F49D00, #FFAD19);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		text-align: center;
		font-family:'Lusitana', serif;
	}

}
