/* --------------------	*/
/* 		General			*/
/* --------------------	*/


html {
	font-family: 'Roboto', sans-serif;
}

#nameBanner {
	font-weight:100;
	font-size: 8em;
	background: -webkit-linear-gradient(left, #003366, #993333);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
}

.pageSize {
	font-size: 1em;
	font-weight:100;
	text-align: center;
}

#newContent {
	font-size: 2em;
	background-color: #FF0000;
	color: #000000;

}