h1,
h2,
h3,
.page-link,
blockquote,
.trigger,
.site-title {
  font-family: 'NationalPark-Regular', 'Source Sans Pro', Helvetica, sans-serif;
}

.post-link {
  color: #1f595c;
}

.social_icon {
  width: 25px;
  height: 25px;
  float: left;
}

.social_icon_img {
  width: 90%;
  height: 90%;
}

.social_bar {
  float: right;
}
