h1,
h2,
h3,
.page-link,
.site-title {
  font-family: 'NationalPark-REgular', 'Source Sans Pro', Helvetica, sans-serif;
}

.post-link {
  color: #1f595c;
}

.social_icon {
  width: 25px;
  height: 25px;
  float: left;
}

.social_bar {
  float: right;
}
