html {
  background-color: #000000;
}

/* align divs side by side*/
.container {
  display: flex;
}

.container > div {
  flex: ; /*grow*/
}

a.purple-air-link:link {
  color: #fff;
  font-size: 3em;
}
