"*":
  "atom-material-ui":
    colors:
      abaseColor: "#157196"
      accentColor: "#c03a04"
      genAccent: true
    tabs:
      compactTabs: true
      tintedTabBar: true
    treeView:
      blendTabs: true
    ui:
      panelContrast: true
  core:
    closeDeletedFileTabs: true
    disabledPackages: [
      "wrap-guide"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "google-dark-syntax"
    ]
    titleBar: "custom"
  editor:
    fontSize: 11
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 20
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "489c2637-9ab5-e870-a1eb-870b370bb7f2"
  welcome:
    showOnStartup: false
".python.source":
  editor:
    preferredLineLength: 80
  "multi-wrap-guide":
    columns: [
      19
      29
      80
    ]
    rows: [
      13
    ]
