---
layout: default
---

<link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/feed.xml" />
<div class="home">
  {{ content }}

  <div class="social_bar">
    <!-- Using https://icon.horse for social icons-->
    <!-- https://icon.horse/icon/[url.hostname] -->
    <!-- https://stackoverflow.com/a/70432799/2070882 -->

    <!-- github -->
    <div class="social_icon">
      <a aria-label="Github" href="https://github.com/samgutentag">
        <img class="social_icon_img" src="https://icon.horse/icon/github.com" alt="github" />
      </a>
    </div>

    <!-- linkedin -->
    <div class="social_icon">
      <a aria-label="LinkedIn" href="https://www.linkedin.com/in/samgutentag">
        <img class="social_icon_img" src="https://icon.horse/icon/linkedin.com" alt="linkedin" />
      </a>
    </div>

    <!-- twitter -->
    <div class="social_icon">
      <a aria-label="Twitter" href="https://twitter.com/samgutentag">
        <img class="social_icon_img" src="https://icon.horse/icon/twitter.com" alt="twitter" />
      </a>
    </div>

    <!-- bluesky -->
    <div class="social_icon">
      <a aria-label="Bluesky" href="https://bsky.app/profile/samgutentag.com" rel="me">
        <img class="social_icon_img" src="https://icon.horse/icon/bsky.app" alt="bluesky" />
      </a>
    </div>

    <!-- mastodon -->
    <div class="social_icon">
      <a aria-label="Mastodon" href="https://mastodon.social/@samgutentag" rel="me">
        <img class="social_icon_img" src="https://icon.horse/icon/mastodon.social" alt="mastodon" />
      </a>
    </div>

    <!-- threads -->
    <div class="social_icon">
      <a aria-label="Threads" href="https://www.threads.net/@samgutentag" rel="me">
        <img class="social_icon_img" src="https://icon.horse/icon/threads.net" alt="threads" />
      </a>
    </div>

    <!-- instagram -->
    <div class="social_icon">
      <a aria-label="Instagram" href="https://www.instagram.com/samgutentag" rel="me">
        <img class="social_icon_img" src="https://icon.horse/icon/instagram.com" alt="threads" />
      </a>
    </div>

    <!-- audius -->
    <div class="social_icon">
      <a aria-label="Stack Overflow" href="https://audius.co/samgutentag" rel="me">
        <img class="social_icon_img" src="https://icon.horse/icon/audius.co" alt="audius" />
      </a>
    </div>
  </div>
</div>
