---
layout: default
---

<link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/feed.xml" />
<div class="home">
  <!-- {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%} -->

  {{ content }}

  <!-- {%- if site.posts.size > 0 -%}
  {% comment %} <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2> {% endcomment %}
  <ul class="post-list">
    {%- for post in site.posts -%}
    <li>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- if site.show_excerpts -%}
      {{ post.excerpt }}
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>

  {% comment %} <p class="rss-subscribe">subscribe <a href="{{ " /feed.xml" | relative_url }}">via RSS</a></p> {%
  endcomment %}
  {%- endif -%} -->

  <div class="social_bar">
    <div class="social_icon">
      <a aria-label="Mastodon" href="https://mastodon.social/@samgutentag" rel="me">
        <svg viewBox="0 0 24 24" class="w-5 h-5" astro-icon="mdi:mastodon">
          <path
            fill="currentColor"
            d="M20.94 14c-.28 1.41-2.44 2.96-4.97 3.26-1.31.15-2.6.3-3.97.24-2.25-.11-4-.54-4-.54v.62c.32 2.22 2.22 2.35 4.03 2.42 1.82.05 3.44-.46 3.44-.46l.08 1.65s-1.28.68-3.55.81c-1.25.07-2.81-.03-4.62-.5-3.92-1.05-4.6-5.24-4.7-9.5l-.01-3.43c0-4.34 2.83-5.61 2.83-5.61C6.95 2.3 9.41 2 11.97 2h.06c2.56 0 5.02.3 6.47.96 0 0 2.83 1.27 2.83 5.61 0 0 .04 3.21-.39 5.43M18 8.91c0-1.08-.3-1.91-.85-2.56-.56-.63-1.3-.96-2.23-.96-1.06 0-1.87.41-2.42 1.23l-.5.88-.5-.88c-.56-.82-1.36-1.23-2.43-1.23-.92 0-1.66.33-2.23.96C6.29 7 6 7.83 6 8.91v5.26h2.1V9.06c0-1.06.45-1.62 1.36-1.62 1 0 1.5.65 1.5 1.93v2.79h2.07V9.37c0-1.28.5-1.93 1.51-1.93.9 0 1.35.56 1.35 1.62v5.11H18V8.91z"
          ></path>
        </svg>
      </a>
    </div>

    <div class="social_icon">
      <a aria-label="LinkedIn" href="https://www.linkedin.com/in/samgutentag">
        <svg viewBox="0 0 24 24" class="w-5 h-5" astro-icon="tabler:brand-linkedin">
          <g
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="icon-tabler"
          >
            <rect width="16" height="16" x="4" y="4" rx="2"></rect>
            <path d="M8 11v5M8 8v.01M12 16v-5M16 16v-3a2 2 0 0 0-4 0"></path>
          </g>
        </svg>
      </a>
    </div>

    <div class="social_icon">
      <a aria-label="Twitter" href="https://twitter.com/samgutentag">
        <svg viewBox="0 0 24 24" class="w-5 h-5" astro-icon="tabler:brand-twitter">
          <path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M22 4.01c-1 .49-1.98.689-3 .99-1.121-1.265-2.783-1.335-4.38-.737S11.977 6.323 12 8v1c-3.245.083-6.135-1.395-8-4 0 0-4.182 7.433 4 11-1.872 1.247-3.739 2.088-6 2 3.308 1.803 6.913 2.423 10.034 1.517 3.58-1.04 6.522-3.723 7.651-7.742a13.84 13.84 0 0 0 .497-3.753C20.18 7.773 21.692 5.25 22 4.009z"
          ></path>
        </svg>
      </a>
    </div>

    <div class="social_icon">
      <a aria-label="Github" href="https://github.com/samgutentag">
        <svg viewBox="0 0 24 24" class="w-5 h-5" astro-icon="tabler:brand-github">
          <path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 19c-4.3 1.4-4.3-2.5-6-3m12 5v-3.5c0-1 .1-1.4-.5-2 2.8-.3 5.5-1.4 5.5-6a4.6 4.6 0 0 0-1.3-3.2 4.2 4.2 0 0 0-.1-3.2s-1.1-.3-3.5 1.3a12.3 12.3 0 0 0-6.2 0C6.5 2.8 5.4 3.1 5.4 3.1a4.2 4.2 0 0 0-.1 3.2A4.6 4.6 0 0 0 4 9.5c0 4.6 2.7 5.7 5.5 6-.6.6-.6 1.2-.5 2V21"
          ></path>
        </svg>
      </a>
    </div>
  </div>
</div>
